/* hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}

.hero-left {
  flex: 2;
}
.hero-right {
  flex: 3;
}

.hero-left div {
  max-width: 350px;
}
.hero-left div h1 {
  font-size: 36px;
  font-weight: bold;
  color: #3b413a;
  text-align: left;
}
.hero-left div p {
  text-align: left;
  font-size: 18px;
  color: #3f3c3c;
}
.hero-right img {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .hero-left {
    flex: 3;
  }
  .hero-right {
    flex: 5;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5px;
  }

  .hero-left,
  .hero-right {
    flex: 1;
  }
}

/* about section */
.text1 {
  width: auto;
  height: auto;
  background-color: #55828b;
  /* margin: 10px; */
  border-radius: 8px;
  padding: 30px 30px;
  color: rgb(228, 224, 220);
  line-height: 30px;
  text-align: center;
  margin-top: -100px;
  transition: transform 0.5s;
}

.text1:hover {
  transform: translateY(-20px);
  box-shadow: 10px 15px rgb(171, 196, 171);
}


/* YouTube section */
.new-section {
  padding: 4px 0;
}

.youtuber {
  font-size: 20px;
  font-weight: 600;
  color: #3b413a;
}
.youtuber-main {
  display: flex;
  justify-content: space-between;
}
.youtuber-info {
  display: flex;
  flex-direction: row;
  background-color: #d6e5d8;
  padding: 12px;
  border-radius: 30px;
  width: 200px;
  transition: transform 0.5s;
}

.youtuber-info:hover {
  transform: translateX(10px);
}

.youtuber-info img {
  object-fit: cover;
  border-radius: 50%;
}
.yt-info h3 {
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
  color: #3b413a;
  margin-bottom: 4px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 700px) {
  .youtuber {
    font-size: 20px;
  }
  .youtuber-main {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* gap: 25px; */
  }

  .yt-info {
    padding: 12px;
    border-radius: 12px;
    gap: 16px;
    text-align: center;
  }
  .yt-info h3 {
    font-size: 20px;
    font-weight: bold;
  }
}
@media screen and (max-width: 800px) {
  .youtuber-main {
    display: flex;
    flex-direction: column;
  }

  .youtuber-info {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .yt-info h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
}
