/* hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
}

.hero-left {
  flex: 2;
}
.hero-right {
  flex: 3;
}

.hero-left div {
  max-width: 350px;
}
.hero-left div h1 {
  font-size: 36px;
  font-weight: bold;
  color: #3b413a;
  text-align: left;
}
.hero-left div p {
  text-align: left;
  font-size: 18px;
  color: #3f3c3c;
}
.hero-right img {
  width: 100%;
  margin: 0 auto;
}


/* YouTube section */
.new-section {
  padding: 4px 0;
}

.youtuber {
  font-size: 1.8rem;
  font-weight: 600;
  color: #3b413a;
}
.youtuber-main {
  display: flex;
  justify-content: space-between;
}
.youtuber-info {
  display: flex;
  flex-direction: column;
  background-color: #d6e5d8;
  padding: 1.5rem;
  border-radius: 30px;
  width: 200px;
  transition: transform 0.5s;
}

.youtuber-info:hover {
  transform: translateX(10px);
}

.youtuber-info img {
  object-fit: cover;
  border-radius: 50%;
}
.yt-info h3 {
  font-size: 1.4rem;
  line-height: 1.3em;
  font-weight: 500;
  color: #3b413a;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .youtuber {
    font-size: 2.4rem;
  }
  .youtuber-main {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }
  .yt-info {
    padding: 1.5rem;
    border-radius: 12px;
    gap: 1rem;
    text-align: center;
  }
  .yt-info h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
}
